{{< layout }}

    {{$ content }}

        <section id="newslist">
            {{# articles }}
              <article data-news-id="{{ .id }}">
                 <a href="#up" class="uparrow">&#9650;</a> 
                 <h2><a href="{{ .url }}" rel="nofollow" target="_blank">{{ .title }}</a></h2>
                 <address>{{ .hostname }}</address>
                 <p>
                    {{ .up }} points by 
                    <username><a href="/user/{{ .username }}">{{ .username }}</a></username>
                    {{ .posted }} | 
                    <a href="/news/{{ .id }}">{{ .comments }} comments</a>
                 </p>
              </article>
            {{/ articles }}
        </section>

    {{/ content }}

{{/ layout }}